.vs
*.user
*.orig
bin
obj
node_modules
*.suo
build.json
tsd.d.ts
*.log
*.log.*
npm-debug.*
dist
wwwroot
**/false/**

# Rider
**/.idea/**/workspace.xml
**/.idea/**/tasks.xml
**/.idea/dictionaries
**/.idea/**/contentModel.xml
**/.idea/**/dataSources
**/.idea/**/dataSources.xml
**/.idea/**/dataSources.local.xml
**/.idea/**/.name
**/.idea/**/*.iml
**/.idea/**/modules.xml
**/.idea/**/aws.xml
/download
/packages
